<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Flutterbug</title>

<link rel="stylesheet" href="/static/glkote.css?v={{ asset_version }}" type="text/css">
<link rel="stylesheet" href="/static/dialog.css?v={{ asset_version }}" type="text/css">
<link rel="stylesheet" href="/static/theme-base.css?v={{ asset_version }}" type="text/css">
<link rel="stylesheet" href="/static/{{ theme_css }}?v={{ asset_version }}" type="text/css">
{% if gidebug %}
<link rel="stylesheet" href="/static/gi_debug.css?v={{ asset_version }}" type="text/css">
{% endif %}

<script type="text/javascript">
var use_gidebug = {% if gidebug %} true {% else %} false {% endif %};
var multiplayer_playername = {{ playername | tojson }};
</script>

<script src="/static/jquery-3.7.1.min.js?v={{ asset_version }}" type="text/javascript"></script>
<script src="/static/glkote.js?v={{ asset_version }}" type="text/javascript"></script>
<script src="/static/namedialog.js?v={{ asset_version }}" type="text/javascript"></script>
{% if gidebug %}
<script src="/static/gi_debug.js?v={{ asset_version }}" type="text/javascript"></script>
{% endif %}
<script src="/static/playws.js?v={{ asset_version }}" type="text/javascript"></script>

</head>
<body class="theme-{{ themename }}">
<div id="gameport">
<div id="windowport">
<noscript><hr>
<p>You'll need to turn on Javascript in your web browser to play this game.</p>
<hr></noscript>
</div>
<div id="loadingpane">
<img src="/static/waiting.gif" alt="LOADING"><br>
<em>&nbsp;&nbsp;&nbsp;Loading...</em>
</div>
<div id="errorpane" style="display:none;"><div id="errorcontent">...</div></div>
</div>

<div id="sidebar">
<div id="brand">
  <img src="/static/butterfly.jpg" alt="Flutterbug butterfly">
  <div id="brand-name">Flutterbug</div>
</div>
<div id="shared-status"></div>
<div id="players-list"></div>
<h3>Recent Commands</h3>
<div id="command-feed"></div>
<h3>Chat</h3>
<div id="chat-messages"></div>
<div id="chat-input-row">
  <input id="chat-input" type="text" placeholder="Say something..." autocomplete="off">
  <button id="chat-send">Send</button>
</div>
<label id="slash-chat-option">
  <input id="slash-chat-toggle" type="checkbox" checked>
  Use <kbd>/</kbd> to jump to chat
</label>
<div id="font-size-controls">
  <span class="font-size-label">Game text size</span>
  <div class="font-size-buttons">
    <button id="font-size-down" type="button" aria-label="Smaller game text">A−</button>
    <button id="font-size-reset" type="button" aria-label="Reset game text size">100%</button>
    <button id="font-size-up" type="button" aria-label="Larger game text">A+</button>
  </div>
</div>
</div>

</body>
</html>
